* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid:
    "sd hd"
    "sd ma";
}

header,
aside,
main {
  padding: 1rem;
}

header {
  grid-area: hd;
  background-color: azure;
}

nav {
  display: contents;
}

aside {
  grid-area: sd;
  display: grid;
  gap: 2rem;
  justify-items: start;
  align-items: start;
  background-color: cornflowerblue;
  grid-template-rows: 1rem 10rem 5rem;
}



aside section {
  display: grid;
  gap: 0.5rem;
}

main {
  grid-area: ma;
  background-color: burlywood;
}
