* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid:
    "sd hd" 200px
    "sd ma" / 175px;
  min-height: 100vh;
}

header,
aside,
main {
  padding: 1rem;
}

header {
  grid-area: hd;
  background-color: azure;
  display: grid;
  justify-self: stretch;
  grid:
    "sr pf" 1.5rem
    "gr ac"
    / 3fr 2fr;
  gap: 2rem;
}

header > * {
  display: grid;
  grid-auto-flow: column;
  gap: .5rem;
}

header .search {
  grid-template-columns: 20px;
}

header .profile {
  grid-template-columns: 1fr 8ch 1fr;
  justify-items: start;
}

header .profile .avatar {
  justify-self: center;
}

header .profile button {
  justify-self: end;
}

nav {
  display: contents;
}

aside {
  grid-area: sd;
  display: grid;
  gap: 2rem;
  justify-items: start;
  align-items: start;
  background-color: cornflowerblue;
  grid-template-rows: 1rem 10rem 5rem;
}

aside section {
  display: grid;
  gap: 0.5rem;
}

main {
  grid-area: ma;
  background-color: burlywood;
}
